@page "/counter"
@using BlazorTLang
@using Client.Localization

@inject CultureManager<ILanguage> CultureManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        CultureManager.CultureChanged += (sender, args) => Console.WriteLine(currentCount);
        currentCount++;
    }

}