@page "/second-home"
@using Client.Localization

@inject ILanguage Language

@layout SecondaryLayout

<PageTitle>Home</PageTitle>

<h1>@Language.Hello, @Language.DisplayName!</h1>

@Language.WelcomeToYourApp.